# Created by https://www.gitignore.io/api/jetbrains,python,django,vagrant,ruby,rails,linux

### Linux ###
*~
### Vagrant ###
.vagrant/
### python ###
*.py[cod]

#### images ###
*.tif
mapwarper/public/mapimages/dst/png/*.png
mapwarper/public/mapimages/dst/png/*.png.aux.xml
mapwarper/log/development.log
mapwarper/tmp/pids/server.pid
