<div class="mdl-card maps-card mdl-cell mdl-cell--10-col ">
    <div class="mdl-card__media"></div>

    <div class="mdl-card__actions">
        <input class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="25" tabindex="0">
    </div>
</div>

<div id="chosenLayers" class="mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">

        <nav class="mdl-navigation">

        <div id="layers_slider" class="mdl-grid">
            <ul id="sortable">
                </ul>
            </div>

            </div>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
        </div>
    </main>
</div>