<div id="chosenLayers" class="mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Chosen layers</span>

    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
          <a class='thumbnail-click' href='#'><li class='map-thumbnail' id='thumb-2'>
            <div class='demo-card-image mdl-card mdl-shadow--2dp'>
              <img class='lazy' data-id='2' src="http://localhost:3000/uploads/3/thumb/Jerh017_b.png"/>
              <div class='mdl-card__actions'>
                <span class='demo-card-image__filename'>Image.jpg</span>
              </div></div></li></a>

          <a class='thumbnail-click' href='#'><li class='map-thumbnail' id='thumb-2'>
            <div class='demo-card-image mdl-card mdl-shadow--2dp'>
              <img class='lazy' data-id='2' src="http://localhost:3000/uploads/3/thumb/Jerh017_b.png"/>
              <div class='mdl-card__actions'>
                <span class='demo-card-image__filename'>Image.jpg</span>
              </div></div></li></a>
        </div>
    </main>
</div>
