/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

    /* ==========================================================================
   mdl styles
   ========================================================================== */

    #sortable > .mdl-card {
      min-height: 0;
    }

    #sortable img.nopadding {
      margin: 0;
      padding: 1px !important;
    }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   #map {
     width: 100vw;
     height: 100vh;
   }

  #chosenLayers {
    display: none;
  }

  #chosenLayers > .mdl-layout__drawer {
    left: auto;
    right: 0;
    background-color:rgba(255,255,255,0.5);
  }

   .mdl-layout__drawer.is-visible {
       width: 25vw;
   }

   .mdl-layout__drawer {
       overflow-y: hidden;
   }

   .mdl-layout__header, .mdl-layout__drawer-button,
    .mdl-layout__header-row .mdl-navigation__link {
     /* This background is dark, so we set text to white. Use 87% black instead if
        your background is light. */
     color: black;
   }

   .mdl-mini-footer {
       position:fixed;
       left:0px;
       bottom:0px;
       width: 100%;
       height: 1.5vh;
       z-index: 1;
   }

   .mdl-mini-footer__left-section {
       margin-top: -2vh;
   }

   .leaflet-left {
       left: auto;
       right: 1%;
   }

   #mainLogo {
       width: 50%;
   }

   .mdl-layout__drawer >.mdl-layout__title, .mdl-layout__drawer .mdl-layout-title {
       text-align: center;
       padding-left: 0;
       padding-top: 5px;
   }

   .material-icons {
       margin-top: 10px;
   }

    .mdl-grid > .mdl-textfield {
        width: auto;
    }

   #thumb {
       height: 60vh;
       overflow-y: auto;
       padding: 0;
   }

   .map-thumbnail {
       list-style-type: none;
       margin: 5px;
       width: 100%;
   }

   .map-thumbnail > .mdl-card {
        min-height: auto;
       min-width: auto;
   }

   .demo-card-image.mdl-card {
        width: 160px;
        height: 160px;
        margin: auto;
    }

   .demo-card-image > .mdl-card__actions {
        height: 52px;
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
   }

   .demo-card-image > img {
       height: 160px;
   }

   .demo-card-image__filename {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
   }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1025px) {
    .mdl-layout__drawer {
        margin-right: -25%;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
